@media (min-width: 200px) {
  .service:nth-child(1) {
    grid-column: 3 / 6;
  }

  .service:nth-child(2) {
    grid-column: 2 / 5;
  }

  .service:nth-child(3) {
    grid-column: 3 / 6;
  }

  .service:nth-child(4) {
    grid-column: 12 / 15;
  }

  .service:nth-child(5) {
    grid-column: 13 / 16;
  }

  .service:nth-child(6) {
    grid-column: 12 / 15;
  }
}

@media (max-width: 1500px) {
  .about-us-img-wrapper {
    grid-row: 3 / -1;
  }

  .card {
    width: 34rem;
  }

  .contact__wrapper {
    width: 80%;
    height: 65rem;
  }

  .footer__content {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .banner & h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  & p {
    font-size: 3rem;
  }

  & button {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
  }

  .menu {
    &__link {
      font-size: 3rem;
    }
  }

  .service:nth-child(1) {
    grid-column: 3 / 7;
  }

  .service:nth-child(2) {
    grid-column: 2 / 6;
  }

  .service:nth-child(3) {
    grid-column: 3 / 7;
  }

  .service:nth-child(4) {
    grid-column: 11 / 15;
  }

  .service:nth-child(5) {
    grid-column: 12 / 16;
  }

  .service:nth-child(6) {
    grid-column: 11 / 15;
  }
}

@media (max-width: 1300px) {
  .team {
    padding-bottom: 6rem;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .card {
    margin-top: 8rem;
  }

  .contact {
    &__wrapper {
      width: 90%;
      height: 55rem;
    }

    &__heading {
      margin-bottom: 2rem;
    }
  }

  .field {
    margin: 2rem 0;
  }
}

@media (max-width: 1000px) {
  .banner {
    & h1 {
      font-size: 5rem;
      line-height: 6rem;
    }

    & p {
      font-size: 2.5rem;
    }

    & button {
      width: 18rem;
      height: 4rem;
      font-size: 1.5rem;
    }
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 40rem;
    margin-bottom: 6rem;
  }

  .about-us-img-wrapper {
    width: 40rem;

    & img {
      width: 100%;
    }
  }

  .contact {
    &__left {
      width: 0;
    }

    &__right {
      width: 100%;
    }
  }

  .field {
    width: 55rem;
  }

  .input-group textarea {
    max-width: 55rem;
  }

  .btn-submit {
    width: 18rem;
    height: 5rem;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .copyright {
    order: 1;
    margin: 3rem;
  }
}

@media (max-width: 700px) {
  .banner {
    & h1 {
      font-size: 4rem;
      line-height: 5rem;
    }

    & p {
      font-size: 2rem;
    }
  }

  .field {
    width: 35rem;
  }

  .input-group textarea {
    max-width: 35rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .sidebar {
    width: 100%;
    right: -100%;
  }

  .sidebar-menu {
    &__line {
      height: 0.3rem;
    }
  }

  .menu__link {
    right: -2rem;
  }

  .service {
    width: 30rem;
  }

  .field {
    width: 30rem;
  }

  .input-group textarea {
    max-width: 30rem;
  }

  .footer {
    height: 18rem;
  }
}
